.container {
    display:flex ;
    flex-direction: row;
    justify-content:space-around;
    border-radius: 15px;
    border: 1.5px solid black;
    background-color: #efd510;
}

.link{
    color: black;
    text-decoration: underline;
    font-family: fantasy;
    margin-right: 5%;
    margin-left: -5%;
}

.exit{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home{
    display: flex;
    flex-direction: row;
    align-items:center;
  }

  